/* Very small screen */
@media (max-width: 374px) {
  .container {
    width: 100%;
    height: 100vh !important;
    padding: 100px 20px 10px 20px;
  }

  .flexible-box {
    display: flex !important;
    margin: auto 0;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  .card-image {
    width: 100%;
    height: 120px;
    /* background-color: aquamarine; */
    position: relative;
    overflow: visible;
  }

  .card-image .desktop-image {
    display: none;
  }

  .card-image .desktop-pattern {
    display: none;
  }

  .card-image .box-image {
    display: none;
  }

  .card-image .mobile-image {
    width: 280px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .card-image .pattern-mobile {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .card-body {
    width: 100% !important;
    height: 100%;
    padding: 24px 20px 46px 20px;
    /* background: lightgreen; */
  }

  .card-body h2 {
    text-align: center;
    color: var(--very-dark-desaturated-blue);
    padding-bottom: 26px;
    font-size: 32px;
  }

  .card-body .question-container {
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body .question-container .question {
    font-size: var(--standar-font-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card-body .question-container .question .arrow-down img {
    cursor: pointer;
  }

  .rotated-arrow {
    transform: rotate(180deg);
  }

  .card-body .question-container .dividers {
    height: 1px;
    width: 102%;
    margin: 12px 0;
    display: block;
    background-color: var(--light-grayish-blue);
  }

  .card-body .question-container .question h4 {
    font-weight: 400;
    color: var(--very-dark-grayish-blue);
  }

  .card-body .question-container .question h4:hover {
    color: var(--soft-red);
  }

  .font-bolder {
    font-weight: 700 !important;
  }

  .card-body .question-container .question .answer-detail {
    width: 100%;
    color: var(--dark-grayish-blue);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 0;
  }
}

/* Small screen */
@media (min-width: 375px) and (max-width: 575px) {
  .container {
    width: 100%;
    height: 100vh !important;
    padding: 100px 20px 10px 20px;
  }

  .flexible-box {
    display: flex !important;
    margin: auto 0;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  .card-image {
    width: 100%;
    height: 120px;
    /* background-color: aquamarine; */
    position: relative;
    overflow: visible;
  }

  .card-image .desktop-image {
    display: none;
  }

  .card-image .desktop-pattern {
    display: none;
  }

  .card-image .box-image {
    display: none;
  }

  .card-image .mobile-image {
    width: 280px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .card-image .pattern-mobile {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .card-body {
    width: 100% !important;
    height: 100%;
    padding: 24px 20px 46px 20px;
    /* background: lightgreen; */
  }

  .card-body h2 {
    text-align: center;
    color: var(--very-dark-desaturated-blue);
    padding-bottom: 26px;
    font-size: 32px;
  }

  .card-body .question-container {
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body .question-container .question {
    font-size: var(--standar-font-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card-body .question-container .question .arrow-down img {
    cursor: pointer;
  }

  .rotated-arrow {
    transform: rotate(180deg);
  }

  .card-body .question-container .dividers {
    height: 1px;
    width: 102%;
    margin: 12px 0;
    display: block;
    background-color: var(--light-grayish-blue);
  }

  .card-body .question-container .question h4 {
    font-weight: 400;
    color: var(--very-dark-grayish-blue);
  }

  .card-body .question-container .question h4:hover {
    color: var(--soft-red);
  }

  .font-bolder {
    font-weight: 700 !important;
  }

  .card-body .question-container .question .answer-detail {
    width: 100%;
    color: var(--dark-grayish-blue);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 0;
  }
}

@media (min-width: 576px) and (max-width: 720px) {
  .container {
    width: 100%;
    height: 100vh !important;
    padding: 100px 40px 10px 40px;
  }

  .flexible-box {
    display: flex !important;
    margin: auto 0;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  .card-image {
    width: 100%;
    height: 120px;
    /* background-color: aquamarine; */
    position: relative;
    overflow: visible;
  }

  .card-image .desktop-image {
    display: none;
  }

  .card-image .desktop-pattern {
    display: none;
  }

  .card-image .box-image {
    display: none;
  }

  .card-image .mobile-image {
    width: 280px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .card-image .pattern-mobile {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .card-body {
    width: 100% !important;
    height: 100%;
    padding: 24px 20px 46px 20px;
    /* background: lightgreen; */
  }

  .card-body h2 {
    text-align: center;
    color: var(--very-dark-desaturated-blue);
    padding-bottom: 26px;
    font-size: 32px;
  }

  .card-body .question-container {
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body .question-container .question {
    font-size: var(--standar-font-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card-body .question-container .question .arrow-down img {
    cursor: pointer;
  }

  .rotated-arrow {
    transform: rotate(180deg);
  }

  .card-body .question-container .dividers {
    height: 1px;
    width: 102%;
    margin: 12px 0;
    display: block;
    background-color: var(--light-grayish-blue);
  }

  .card-body .question-container .question h4 {
    font-weight: 400;
    color: var(--very-dark-grayish-blue);
  }

  .card-body .question-container .question h4:hover {
    color: var(--soft-red);
  }

  .font-bolder {
    font-weight: 700 !important;
  }

  .card-body .question-container .question .answer-detail {
    width: 100%;
    color: var(--dark-grayish-blue);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 0;
  }
}

@media (min-width: 721px) and (max-width: 930px) {
  .container {
    width: 100%;
    height: 100vh !important;
    padding: 100px 40px 10px 40px;
  }

  .flexible-box {
    display: flex !important;
    margin: auto 0;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  .card-image {
    width: 100%;
    height: 120px;
    /* background-color: aquamarine; */
    position: relative;
    overflow: visible;
  }

  .card-image .desktop-image {
    display: none;
  }

  .card-image .desktop-pattern {
    display: none;
  }

  .card-image .box-image {
    display: none;
  }

  .card-image .mobile-image {
    width: 280px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .card-image .pattern-mobile {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .card-body {
    width: 100% !important;
    height: 100%;
    padding: 24px 20px 46px 20px;
    /* background: lightgreen; */
  }

  .card-body h2 {
    text-align: center;
    color: var(--very-dark-desaturated-blue);
    padding-bottom: 26px;
    font-size: 32px;
  }

  .card-body .question-container {
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body .question-container .question {
    font-size: var(--standar-font-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card-body .question-container .question .arrow-down img {
    cursor: pointer;
  }

  .rotated-arrow {
    transform: rotate(180deg);
  }

  .card-body .question-container .dividers {
    height: 1px;
    width: 102%;
    margin: 12px 0;
    display: block;
    background-color: var(--light-grayish-blue);
  }

  .card-body .question-container .question h4 {
    font-weight: 400;
    color: var(--very-dark-grayish-blue);
  }

  .card-body .question-container .question h4:hover {
    color: var(--soft-red);
  }

  .font-bolder {
    font-weight: 700 !important;
  }

  .card-body .question-container .question .answer-detail {
    width: 100%;
    color: var(--dark-grayish-blue);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 0;
  }
}

@media(min-width: 931px) and (max-width: 1280px) {
  .container {
    width: 100%;
    height: 100vh !important;
    padding: 100px 40px 10px 40px;
  }

  .flexible-box {
    display: flex !important;
    margin: auto 0;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
  }

  .card-image {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: visible;
  }

  .card-image .desktop-image {
    width: 380px;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
  }

  .card-image .desktop-pattern {
    width: 800px;
    position: absolute;
    top: 80% !important;
    left: 30%;
    transform: translate(-50%, -50%);
    /* background: #000; */
  }

  .card-image .box-image {
    width: 180px;
    position: absolute;
    top: 52%;
    left: 5%;
    transform: translate(-50%, -50%);
  }

  .card-image .mobile-image {
    display: none;
  }

  .card-image .pattern-mobile {
    display: none;
  }

  .card-body {
    width: 50% !important;
    height: 100%;
    padding: 46px 40px 46px 0;
    /* background: lightgreen; */
  }

  .card-body h2 {
    text-align: start;
    color: var(--very-dark-desaturated-blue);
    padding-bottom: 26px;
    font-size: 32px;
  }

  .card-body .question-container {
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body .question-container .question {
    font-size: var(--standar-font-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card-body .question-container .question .arrow-down img {
    cursor: pointer;
  }

  .rotated-arrow {
    transform: rotate(180deg);
  }

  .card-body .question-container .dividers {
    height: 1px;
    width: 102%;
    margin: 12px 0;
    display: block;
    background-color: var(--light-grayish-blue);
  }

  .card-body .question-container .question h4 {
    font-weight: 400;
    color: var(--very-dark-grayish-blue);
  }

  .card-body .question-container .question h4:hover {
    color: var(--soft-red);
  }

  .font-bolder {
    font-weight: 700 !important;
  }

  .card-body .question-container .question .answer-detail {
    width: 100%;
    color: var(--dark-grayish-blue);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 0;
  }
}
