/* my font: Kumbh Sans: 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* CSS Variables */
:root {
  --kumbh-sans: 'Kumbh Sans', sans-serif;
  --standar-font-size: 12px;
  
  /* Text color */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Neutral */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--kumbh-sans);
  background: #fff;
}

















