/* my font: Kumbh Sans: 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* CSS Variables */
:root {
  --kumbh-sans: 'Kumbh Sans', sans-serif;
  --standar-font-size: 12px;
  
  /* Text color */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* af67e9 */
  /* 6565e7 */

  /* Neutral */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: rgb(101,101,231);
  background: linear-gradient(360deg, rgba(101,101,231,1) 20%, rgba(175,103,233,1) 90%); 
  font-family: var(--kumbh-sans);
}

.container {
  width: 1200px;
  height: 100vh !important;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.flexible-box {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.card {
  width: 800px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 80px;
}

.card-image {
  width: 40%;
  height: 100%;
  /* background-color: aquamarine; */
  position: relative;
  overflow-x: visible;
}

.card-image .desktop-image {
  width: 380px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.card-image .desktop-pattern {
  width: 500px;
  object-fit: cover;
  overflow: hidden;
  object-position: -180px -50px;
}

.card-image .box-image {
  width: 180px;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
}

.card-image .mobile-image {
  display: none;
}

.card-image .pattern-mobile {
  display: none;
}

.card-body {
  width: 60%;
  height: 100%;
  padding: 46px 20px;
  /* background: lightgreen; */
  width: 60%;
}

.card-body h2 {
  color: var(--very-dark-desaturated-blue);
  padding-bottom: 26px;
}

.card-body .question-container {
  width: 100%;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-body .question-container .question {
  font-size: var(--standar-font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.card-body .question-container .question .arrow-down img {
  cursor: pointer;
}

/* accordion FAQ */
/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.rotated-arrow {
  transform: rotate(180deg);
} */

.card-body .question-container .dividers {
  height: 1px;
  width: 82%;
  margin: 12px 0;
  display: block;
  background-color: var(--light-grayish-blue);
}

.card-body .question-container .question h4 {
  font-weight: 400;
  color: var(--very-dark-grayish-blue);
}

.card-body .question-container .question h4:hover {
  color: var(--soft-red);
}

.font-bolder {
  font-weight: 700 !important;
}

.card-body .question-container .question .answer-detail {
  width: 100%;
  color: var(--dark-grayish-blue);
  font-size: 12px;
  font-weight: 400;
  padding: 8px 0;
}









